{{template "email" .}}

{{define "title"}}重設密碼{{end}}

{{define "content"}}
<div class="email-content">
  <div class="title" class="row">
    <div class="column">
      {{.Username}} 您好！
    </div>
  </div>
  <section class="security-info row">
    <div class="column">
      有人要求更改密碼，您可以利用下面的連結更改密碼。
    </div>
    <div class="column">
      <a href="{{.ResetPasswordUrl}}">更改我的密碼</a>
    </div>
    <div class="column">
      如果您沒有要求，請忽略此電子郵件。
    </div>
    <div class="column">
      如果您沒有進入上面的連結，並建立新的密碼，您的密碼不會被改變。
    </div>
  </section>
  <p>
    注意：如果這不是您本操作，請立即寫信至 service@ezcoin.cc 或撥打客服專線聯繫客服人員

    此信件由系統自動發出，請必直接回覆。有問題請與<a href="www.ezcoin.cc">我們聯繫</a>
  </p>
</div>
{{end}}